.ts-and-cs p{
  color:white;
  font-size: 20px;
}
.ts-and-cs li{
  color:white;
  font-size: 20px;
}
.ts-and-cs h5{
 color:#CCA459;
  font-weight:bold;
}
.ts-and-cs h1, {
 color:#CCA459;
  font-weight:bold;
}
.ts-and-cs h3, {
 color:white;
  font-weight:bold;
}
.ts-and-cs h6, {
 color:#CCA459;
 font-size: 20px;
 font-weight:bold;
 margin-bottom: 20px;
  margin-top: 20px;

}
