<div class="card-post m-5">

<%= cl_image_tag post.image.key, height: 200, width: 200, crop: :fill %>
  <div class="card-post-infos">
    <div>
      <p><%= post.description %></p>
    </div>
  </div>
</div>
