<div class="container">
  <div class="row">
    <div class="col-6">
    <div>
      <h1>Thank you for giving us feedback!</h1>
      <h3>
        Click the button below to delete your account. There is no way to undo this.
      </h3>
      <p style=" color:#CCA459;">Thank you for trying our service!</p>
    </div>
               <%= link_to "Cancel my account", registration_path(@user), class: "btn-flat-orange", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
