<h1>How does Enactor work?</h1>
<div class="how-it-works">

    <p>We’re in the middle of the 4 th industrial revolution. Every-day we see
    the world move towards a “the easier, the better” approach. Why
    should the acting industry be any different?</p>

    <p>Enactor allows production companies to upload their Casting briefs
    and scripts, select race, average age, culture, language, skill set and
    even location and send casting briefs directly to actors who suit these
    descriptions. The actors can then submit their self-made casting
    tapes directly to production companies. Thus saving the company
    time and money, and putting the power of finding work right into
    the hands of the actors!</p>

</div>
