




<h1 class="mt-5" style="color: white;">What do we aim to change?</h1>
<br>
<div class="how-it-works">
  <div class="row"><div class="col-6">

  <p>
  Many graduated actors struggle to get representation because of inexperience, and many experienced actors don’t have representation. Often times actors do not get that audition that they would be perfect for, simply because they do not know about it. We want to open the industry, reaching far more performers than before
  We have many languages and cultures in South Africa, with a variety of stories being told. We want to represent those stories authentically and assist in finding the perfect actors to tell them.

  </p>
  <br><br>

  <p>

  Additionally, actors go to countless auditions and get no roles, feeling it’s a waste of time and money, getting their hopes up and being let down.
  By making auditions more accessible and less costly to attend ,we give upcoming actors a greater chance of being noticed, while also making it easier for companies to manage and provide a bigger range of options in a shorter period of time.

  </p>
  <br><br>

  </div>


</div>



</div>
