
<!--
<div class="row logo-image" style="width:100%">

<%= image_tag "new-logo.jpg" %></div>

<br> -->
<div class="how-it-works" >

<div class="container">
  <div class="row">
<h1 class="my-5" style="color: #CCA55A; font-weight: bold; text-align: left;">VISION AND MISSION</h1>
    <div class="col-12" style="position:relative; margin: 0 auto;">
<p>Enactor is a tool created firstly, to help make the audition process of companies easier. It was also created to help actors with their time-management, the cost of travelling to auditions they are not suited for and overall putting some more power into the hands of the actor.</p>

<p>Additionally, finding options for characters shouldn’t be hard when we have many actors, those who have studied acting, those who have experience, or those upcoming simply trying to get in. However, we need access to these actors, and to these many options. Enactor was created for that purpose.</p>

<p>Many graduated actors struggle to get representation because of inexperience, and many experienced actors don’t have representation. Often times actors do not get that audition that they would be perfect for, simply because they do not know about it. We want to open the industry, reaching far more performers than before. Actors that sign up to this app have a choice in whether they want their agents to handle their auditions, or whether they would like to represent themselves. </p>

<p>We have many languages and cultures in South Africa, with a variety of stories being told. We want to represent those stories authentically and assist in finding the perfect actors to tell them. Thus, we would like you to be able to reach more actors that speak the language you need for your project.</p>

<p>By making auditions more accessible and less costly to attend ,we give upcoming actors a greater chance of being noticed, while also making it easier for companies to manage and provide a bigger range of options in a shorter period of time. They then narrow them down and have callbacks for those they want to see.</p>

<p>Overall. Enactor was created to aid with the casting/auditions process, to reach more actors easily, quickly narrowing options down by receiving auditions directly, allowing for better time/cost management through online auditioning and decreasing unnecessary contact during the COVID 19 pandemic. Please note that Enactor is not an agency, but can also be used by actors to refer people to their agents, thus forming a database of actors.Create a profile today!</p>

  <br>
<div class="col-8">

  <div class="fill mt-5"><%= image_tag "new-logo.jpg" %></div>

</div>

  </div>


</div>



</div>


</div>
