<div class="container">

  <div class="search-bar" style="margin-top: 20px;">


  <h3 style="color:white;">Find an actor BY NAME in the field below!</h3>
    <div class="row">
    <div class="col-3">
<%= form_tag pages_searching_path method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search Actors"
  %>
  <br>
  <%= submit_tag "Search", class: "btn btn-flat-orange" %>
<% end %>
</div>
</div>

  </div>
<br><br><br>


<div class="cards">
 <% @users.each do |user| %>
      <%= render 'shared/searchcard', user: user %>
  <% end %>
</div>

</div>
