<div class="container">

  <div class="row"><div class="col-12 ts-and-cs ">

    <h1 class="mt-5">Enactor’s Terms of Service</h1>

    <h3>Welcome to Enactor!</h3>
    <p>Enactor creates products and services that enable people in the film and television industry to go about producing content in an easier and more authentic way. </p>
    <p>The terms below govern your use of the Enactor website/application.  </p>
    <p>We don’t charge actors to use Enactor or the other products and services covered by these Terms. We do, however, charge production companies for certain advanced features on the website. Additionally, businesses and organizations pay us to show you ads for their products and services. By using our Product/Website/application, you agree that we can show you ads that we think will be relevant to the arts, film and television industry.
</p>
    <p>We don’t sell your personal data to advertisers, and we don’t share information that directly identifies you (such as your name, email address or other contact information) with advertisers. The only personal information shared to the public will be that which you choose to reveal on your profile.
However, if we suspect illegal activity, or the intention to use the website for criminal reasons, or suspect your profile is duplicated, we will use your information to directly contact you concerning the issue. </p>
<h5>The services we provide</h5>
    <p>Our mission is to give actors and production companies (marketing agencies, theatre companies, film productions) the ability to easily find the type of actor they wish to have in their projects, and to simplify the process of auditioning. To help them save both time and money.
To help advance this mission, we provide the Products and services described below to you:</p>
    <h6>Connect you with organizations who want to work with you:</h6>
    <p>Enactor works by giving production companies the ability to upload acting briefs and send it automatically to any actor, signed up to Enactor, that matches their brief specifications. It also gives them the ability to privately request an audition, and giving the actor a choice to either accept or deny that private request.
</p>

    <h6>Empower you to have control over your biography and profile, and your personal information.</h6>
    <p>By enabling you to regularly update contact information or your agent/representation, to specify how you would like to be contacted, and to regularly update the shows and productions you are in, to express yourself and communicate about what matters to you.</p>
    <h6>Combat harmful conduct and protect and support our community:</h6>
    <p>People will only join a service if they feel safe.
For every production company or agency that signs up to Enactor with the intention to audition, we will do a background check on the company to confirm their credibility. If we learn that they are not legitimate, we personally reserve the right to remove their profiles. </p>

    <p>If we suspect that an actors identity or profile is being duplicated in the app, we will remove the duplicated profile with the confirmation of the actor. If you suspect any criminal behaviour on the app, please contact us directly.
Enable global access to our services:
To operate our global service, we need to store and distribute content and data in our data centers and systems around the world, including outside your country of residence. </p>

<h5>How our services are funded</h5>
<p>Instead of actors and production companies paying to use Enactor and the other products and services we offer, you agree that we can show you ads that businesses and organizations pay us to promote. Please note that some features on the app will priced but it will not interrupt the process of auditioning, sending briefs or receiving them. </p>
    <h5>Your commitments to Enactor and the people that use it</h5>
    <p>We provide these services to you and others to help advance our mission. In exchange, we need you to make the following commitments to create a trusted and professional environment.</p>
    <p>For this reason, it is compulsory that you:</p>

    <ul>

      <li>Use the same name that you use in everyday life or your artist name widely known to the industry to make it easier for production companies to find you or find information about you.</li>
      <li>Provide accurate information about yourself in your bio, especially age, language and race.</li>
      <li>Create only one account (your own). If you’re having problems, contact Enactor. </li>
      <li>Not share your password, give access to your Enactor account to others, or transfer your account to anyone else. If your profile is managed by your agent, it should state so on your bio.</li>
      <li>The profiles of all actors below the age of 13 must be run by their parents or guardian (or agent) and must be specified in the biography, and the guardian/parent/agent must be present in the introduction of submitted video auditions stating their permission. It is also the duty of production companies to not accept audition tapes that do not have these permissions in the video submission.  </li>
      <li>No nudity is allowed in audition videos, and if a company reports your submission, your profile will be disabled.</li>
    </ul>

    <p>You can not use Enactor if:</p>

    <ul>
      <li>You are not a registered company, whether it be a theatre company, film, production, or television. This is to protect actors against being contacted by illegitimate companies. </li>
      <li>We've previously disabled your account for violations of our Terms or Policies. If your account has been disabled and you would like to query it, please contact us.</li>
    </ul>
    <h6></h6>
    <p></p>
    <h6></h6>
    <p></p>
    <h6></h6>
    <p></p>
    <p></p>
    <p></p>

  </div></div>


</div>
