<div class="container">

  <div class="row"><div class="col-12 ts-and-cs ">

    <h1>Enactor’s Terms of Service</h1>

    <h3>Welcome to Enactor!</h3>
    <p>Enactor creates products and services that enable people in the film and television industry to go about producing content in an easier and more authentic way. </p>
    <p>The terms below govern your use of the Enactor website/application.  </p>
    <p>We don’t charge actors to use Enactor or the other products and services covered by these Terms. We do, however, charge production companies for certain advanced features on the website. Additionally, businesses and organizations pay us to show you ads for their products and services. By using our Product/Website/application, you agree that we can show you ads that we think will be relevant to the arts, film and television industry.
</p>
    <p>We don’t sell your personal data to advertisers, and we don’t share information that directly identifies you (such as your name, email address or other contact information) with advertisers. The only personal information shared to the public will be that which you choose to reveal on your profile.
However, if we suspect illegal activity, or the intention to use the website for criminal reasons, or suspect your profile is duplicated, we will use your information to directly contact you concerning the issue. </p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

  </div></div>


</div>
