<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>
<p>whats going on</p>
                  <p style="color: white;"> Name: <%= @u.name %></p>
                  <p>Age: <%= @u.age %></p>
