<h3 style="color:white;">New Opportunities</h3>
<% if @matching_briefs == []  %>
      <p>currently, there are no briefs that match your profile</p>

<% else %>
    <% @matching_briefs.each do |brief| %>
    <div class="match">
<%= link_to brief_path(brief) do %>
  <div>
    <p><%= brief.title %></p>
  </div>

</div>
    <% end %>
<% end %>
<% end %>
