// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/card_post";
@import "components/btn-flat-orange";


@import "pages/index";
@import "pages/components";
@import "pages/mission";
@import "pages/terms_and_conditions";


@import "components/form";


@import 'owl.carousel';
@import 'owl.theme.default';
@import 'mapbox-gl/dist/mapbox-gl';

.main-container{
  height: calc(100vh - 80px);
  background: black;
  position: relative;


}
.footer {
  background: black;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-around;
  padding: 0px 50px;
  // color: #f88a2b;
  color: #CCA459;
  position: sticky;
  bottom: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-links a {
  // color: #b5076b;
    color: #CCA459;

  opacity: 0.8;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 16px;
}
.footer-links a:hover {
  opacity: 0.5;
}
.info-pages p{
  color:white;
}

// banner

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-repeat: no-repeat;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos, p{
  color:black
}
// .card-product-infos, a{
//   color:black
// }


.container-3{
  display: flex;
  justify-content: space-between;
  padding:36px;
  width:100%;
  margin:0 auto;
}

.btn-flat-dis {
  color:#CCA459;
  font-weight: bold;
  padding: 12px 24px;
  background: black;
  text-align: center;
  position:relative;
  border: solid 1px;
  border-color:#CCA459;
  bottom:0;
  left:0;
  height:50px;
  margin-top: 10px;
}

.carousel-indicators li {
  width: 250px;
}

.carousel-indicators p {
  color:black;
}

.carousel-indicators {
  display:flex;
  justify-content: space-between;

}

.how-it-works p{
color:white;
}

.cards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.shows{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.articles-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
       justify-content: center;
      align-content: start;
}


.posts{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px 0px;
}


.card-image{

      transition: width 2s;

}


.card-image:hover {
    position:relative;
    top:-35px;
    height:auto;
    display:block;
    z-index:999;
    width:300px;
}
.logo-image img{
width:100%;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 1;
    min-width: 100%;
    height: 350px;
}

.carousel-item {

    // border-radius: 0px;
    flex-shrink: 0;
    // min-width: 100%;
    // height: 500px;
    overflow: hidden;
background-size: contain;
}
.carousel-item img{

    border-radius: 0px;
    flex-shrink: 1;
    min-width: 100%;
    height: 500px;

}


* {
  font-family: "Oswald";
  font-weight:500;
 }
 * h1,h2,h3,h4,h5,h6{
    font-family: "Oswald";
    color:#CCA459;
 }

.t-c-button{
   color:#CCA459;
}
.standard{
  padding: 16px 16px;
}

.btn-ghost{
  color:black;
  opacity:.6;
  font-weight: bold;
  padding: 12px 24px;
  background-color: #C4C2B7;
  text-align: center;
  position:relative;
  border: solid 4px;
  // border-color:#CCA459;
  border-radius:4px;

  border-color:black;
  bottom:0;
  left:0;
  height:50px;
  margin-top: 40px;

}

.new{
  border-color:black;
  border: solid 1px;
}


.news-split h4:before, h4:after {
     content: "";
     flex: 1 1;
     border-bottom: 2px solid #000;
     margin: auto;
}
.news-split h4 {
            display: flex;
            flex-direction: row;
            padding:24px;
}


.news-split{
padding:0 80px;
}

.img-art img{
  border-radius:0;
  position:relative;
  margin:0 auto;

}


.image-links img{

  border-radius:0px;
}


.card-post > img {
  height: 200px;
  width: 200px;
  flex-shrink: 1;
  border-radius:0px;
}
.card-post:hover> img {
  height: 200px;
  width: 200px;
  flex-shrink: 1;
  border-radius:0px;
}


.legends-pic{
  background-color:red;
}


.study-links-new{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.study-links-new-1{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.quiz{
  align-items: center;
  padding-left: 72px;
  color:black;
  text-align:center;
}


.col-md-3{
  display: inline-block;
  margin-left:-4px;
}
.col-md-3 img{
  width:100%;
  height:auto;
}
body .carousel-indicators li{
  background-color:red;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:red;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
}



.info-link{
  color:black;
}

.art-cover {
  border: solid 8px;
  // border-color: #977327;
  border-color:black;

}

.quiz-image{
width:300px;
height:150px;
}

.weekly-quiz{
align-items:center;
}


.studies-pic{
border-radius: 4px;
}
